.container {
  height: 100vh;
}

.header {
  @include flex-center-all;
  height: 20vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}

.display {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  position: relative;
  padding: 5rem 0;
}

.versus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.games {
  @include flex-center-all;
  flex-direction: column;
}

.games-box {
  margin-top: 5rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player {
  @include flex-center-all;
  flex-direction: column;
}
