.heading {
  &--light {
    color: $secondary-color;
  }
  &-1 {
    font-size: 5rem;
    font-family: "Courier New", Courier, monospace;
  }
  &-2 {
    font-size: 4rem;
  }
  &-3 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
  }
}
