$primary-color: rgb(26, 26, 26);
$secondary-color: rgb(201, 201, 201);
$almost-white: rgb(249, 249, 249);
$light-grey: rgb(237, 237, 237);
$dark-grey: rgb(118, 118, 118);

$light-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
