.game-icon {
  content: "";
  width: 15rem;
  height: 15rem;
  background-image: url("../assets/img/question.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
